<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="log.console" value="true"/>
    <add key="log.file" value="true"/>
    <add key="log.file.path" value="log.txt"/>
    <add key="log.splunk" value="true"/>
    <add key="log.splunk.host" value="https://mysplunk:8088/services/collector" />
    <add key="log.splunk.token" value="ReplaceWithToken" />
  </appSettings>
</configuration>